<!-- 🔥 NAVBAR (HIDE AFTER LOGIN PAGE) -->
@if (showNavbar) {

<nav class="navbar">

  <!-- MENU BUTTON -->
  <div class="menu-btn" (click)="isMenuOpen = !isMenuOpen">
    ☰
  </div>

  <div class="right">
    <button class="login-btn" (click)="openLogin()">Login</button>
  </div>
</nav>

}

<!-- SIDE MENU -->
<div class="side-menu" [class.open]="isMenuOpen">

  <a routerLink="/" (click)="isMenuOpen=false">
    Home
  </a>

  <a routerLink="/cart" (click)="isMenuOpen=false">
    Cart
  </a>

  <a routerLink="/home" (click)="isMenuOpen=false">
    Order Now
  </a>

</div>

<!-- LOGIN POPUP -->
@if (showLogin) {
<div class="overlay" (click)="closeLogin()">

  <div (click)="$event.stopPropagation()">
    <app-login-popup (loginResult)="handleLoginResult($event)" (forgotResult)="handleForgotResult($event)"
      (close)="closeLogin()">
    </app-login-popup>
  </div>

</div>
}

<!-- 🔥 GLOBAL TOAST -->
@if (message) {
<div class="toast" [class.error]="isError" [class.success]="!isError">
  {{ message }}
</div>
}