<div class="page">

  <div class="card">

    <h2>Update Password</h2>

    <input [(ngModel)]="email" placeholder="Email" />
    <input [(ngModel)]="oldPassword" type="password" placeholder="Old Password" />
    <input [(ngModel)]="newPassword" type="password" placeholder="New Password" />

    <div class="btn-group">
      <button (click)="updatePassword()">Submit</button>
      <button (click)="clearForm()">Clear</button>
    </div>

    <!-- MESSAGE -->
    <div *ngIf="message" [class.success]="isSuccess" [class.error]="!isSuccess" class="msg">
      {{ message }}
    </div>

  </div>

</div>